/* GENERAL PAGE LAYOUT SECTION */

/* FLEX SECTION */
.title, .body, .options, .option, .grid-slider, .custom, .container
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.options, .option, .custom, .container
{
    flex-direction: column;
}

/* OTHER LAYOUT OPTIONS SECTION */
body
{
    margin: 0;
    background-color: #D5DCF9;
}

.title
{
    padding: 32px;
    font-size: 32px;
    background-color: #A7B0CA;

}

.body
{
    justify-content: space-around;
    padding: 24px 200px;
}

/* OPTIONS SECTION */
.options
{
    background-color: #8edce6;
    padding: 32px;
    gap: 40px;
}

.option
{
    gap: 15px;
}

.subtitle
{
    font-size: 30px;
}

.btn
{
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
}

/* SLIDER SECTION */
.grid-slider
{
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
}

.slider
{
    height: 40px;
    color: 'green';
}

.slider-value
{
    font-size: 18px;
}

/* CUSTOM COLOR SECTION */
.custom
{
    gap: 12px;
    font-size: 24px;
}

.color-picker
{
    margin: 0;
    padding: 0;
}

/* GRID CONTAINER SECTION */
.container
{
    height: 700px;
    width: 700px;
    margin: 32px;
    flex-basis: 0;
    background-color: white;
    border: 2px solid black;
}

.row-container
{
    display: flex;
    flex: 1;
    width: 700px;
}

.pixel
{
    flex: 1;
}





